doctype 5
html
  head
    title CNBETA 精简新闻列表
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    script(src="/javascripts/app.js")
  body
    h1 CNBETA 精简新闻列表
    block content